.black-bg {
    background-color: rgba(239, 239, 239);
}

.navbar {
    background-color: rgba(95, 93, 93, 0.515);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.logo {
    height: 80px;
    width: 100px;
    padding-left: 10px;


}

.search-button a {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

.addtocart-button a {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

.account-button a {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;

}
.cart-num {
    color: rgb(0, 0, 0);
    border: 1px solid white;
    background-color: rgb(255, 253, 253);
    border-radius: 80px ;
    padding: 4px;
    position: relative;
    left: -80px;
    top: -28px;
}
.cart-num a{
    font-family: "Poppins", sans-serif;
}

select {
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    position: relative;
    top: 0px;
    appearance: none;
}

select :hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.hamburger-menu #ham {
    width: 100px;
    height: 50px;
    padding-left: 35px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: rgb(97, 97, 97);
    background-color: transparent;
    position: relative;
    z-index: 4;
    cursor: pointer;
    /* Add this */
    /* Increase touch target for mobile */

}

select:focus {
    outline: none;
    /* Removes the default blue/browser-specific outline */
    border-color: #000000;
    /* Change the border color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    /* Add a glowing effect */
}


#drop1 {
    padding: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.479);
}

.icons {
    display: flex;
    gap: 80px;
    padding-right: 10px;
    color: rgb(255, 255, 255);

}

.icons :hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.hero-section .hero-content {
    width: 100%;
    height: 603px;
    background-image: url(assests/euro\ model.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 30px;
}

.card1-hero {
    border: 2px solid transparent;
    text-align: left;
    width: 540px;
    padding: 20px;
    margin-left: 100px;
}

.card1-hero p {
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    padding-bottom: 5px;
}

.card1-hero h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.shop-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
}

.shop-now-button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.hero-content2 {
    min-height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    background-color: rgba(239, 239, 239);
}

.hero-content2 .product-card1 {
    width: 370px;
    height: 500px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.product-card1 img {
    width: 100%;
    height: 55%;
    border: 1px solid transparent;
    border-radius: 50px;
}

.product-card1 p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

.product-card1 h3 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

.product-card1 .star {
    color: gold;
}

.product-card2 .star {
    color: gold;
}

.product-card3 .star {
    color: gold;
}

.qty-btn-jacket {
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    right: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: 600;
}

.qty-btn-jacket .minus,
.plus,
.num {
    color: rgb(0, 0, 0);
}

.qty-btn-boot .minus,
.plus,
.num {
    color: rgb(0, 0, 0);
}

.qty-btn-pants .minus,
.plus,
.num {
    color: black;
}

.qty-btn-jacket :hover {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}

.buy-btn-jacket {
    width: 100px;
    height: 27px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 13, 13);
    border: none;
    border-radius: 50px;
    font-family: "Helvetica", sans-serif;
    position: relative;
    left: 60px;
    bottom: 25px;
    font-family: "Smooch Sans", sans-serif;

}

.buy-btn-jacket:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.hero-content2 .product-card2 {
    width: 370px;
    height: 500px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.product-card2 img {
    width: 100%;
    height: 55%;
    border: 1px solid transparent;
    border-radius: 50px;

}

.product-card2 p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

.product-card2 h3 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

.qty-btn-boot {
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    right: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: 600;

}

.qty-btn-boot :hover {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}

.buy-btn-boot {
    width: 100px;
    height: 27px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 13, 13);
    border: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 60px;
    bottom: 25px;
}

.buy-btn-boot:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.hero-content2 .product-card3 {
    width: 370px;
    height: 500px;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.product-card3 img {
    width: 100%;
    height: 55%;
    border: 1px solid transparent;
    border-radius: 50px;

}

.product-card3 p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

.product-card3 h3 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

.qty-btn-pants {
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    right: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: 600;

}

.qty-btn-pants :hover {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}

.buy-btn-pants {
    width: 100px;
    height: 27px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 13, 13);
    border: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 60px;
    bottom: 25px;
}

.buy-btn-pants:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.minus,
.plus {
    cursor: pointer;
}

.faq-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.faq {
    background-color: rgba(239, 239, 239);
    color: rgb(0, 0, 0);
    padding: 10px 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.faq h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 5px;
    padding-bottom: 0px;
}

.faq ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq ul li {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.faq ul li input {
    display: none;
}

.faq ul li label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

.faq ul li label::before {
    content: '+';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    line-height: 1;
}

.faq ul li input:checked+label::before {
    content: '-';
}

.faq ul li .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-family: "Poppins", sans-serif;
    padding-left: 30px;
}

.faq ul li input:checked~.content {
    max-height: 200px;
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: flex-start;

}

footer p {
    margin: 0;
    font-family: "poppins", sans-serif;
    padding-left: 20px;
    padding: 20px;

}

footer a {
    color: white;
    text-decoration: none;
}

footer h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 5px;
    padding-bottom: 1px;
    padding-left: 20px;
}

.footer-section-links ul {
    list-style-type: none;
    /* Removes the bullet points */
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    display: flex;
    gap: 30px;
}

.links .animated-link {
    text-decoration: none;
    color: rgb(255, 253, 253);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-style: normal;
    letter-spacing: 10px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

}

.links .animated-link:hover {
    color: rgb(254, 254, 254);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.hamburger-menu #ham {
    display: none;
}

@media (max-width: 913px) {

    .links,
    .icons {
        display: none;
    }

    .hamburger-menu #ham {
        display: block;
    }
}

@media (min-width: 876px) {
    .navbar {
        z-index: 2;
    }
}

@media (max-width: 1082px) {
    .hero-section .hero-content {
        background-image: none;
    }
}

@media (max-width: 1082px) {
    .hero-section .hero-content {
        background-image: url(assests/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;


    }
}

@media (max-width: 1118px) {
    .faq-section .faq {
        padding: 100px;
    }
}

@media (max-width: 550px) {
    .card1-hero {
        margin-left: 90px;

    }
}

@media (max-width:1108px) {
    .hero-content2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
    }
}